#h2BgImages {
	color: blue;
}

div.jumbotron {
	margin-bottom: 0;
}

.container {
	font-family: 'Baloo', cursive;
}

.thumbnail, .bg-images, footer {
  	font-family: 'Montserrat', sans-serif;
}


#h2Bg-images{
	/*margin-bottom: 50px;*/
	margin-top: 50px;
	margin-bottom: 40px;
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: double;
	border-top: double;
}

footer {
	border-top: dashed;
	border-width: 1px;
	padding: 10px;
	background-color: LightCyan;
	margin-top: 50px;
}

.fa-github {
	color: black;
}

img {
	width: 490px;
	height: 325px;
}

